<html lang="en">
    <head>
        <!--%- include('./views/head'); %-->
        <script src="jquery-3.1.1.min.js"></script>
        <link href="semantic.min.css" rel="stylesheet" type="text/css"/>
        <script src="semantic.min.js"></script>

    </head>
    <style>
        .maintContainer{
            padding-left: 28%;
            padding-top: 5%;
        }
        .listItems{
            width: 200px;
            padding-bottom: 6px;
            border-bottom-width: 1px !important;
            border-bottom-style: ridge !important;
        }
        .ui.items>.item .meta{
            line-height: 1.4em !important;
        }
        .ui.items{
            width: 24rem;
        }
        .headTitle{
            padding-bottom: 2rem;
        }
    </style>
    <body class="ui container maintContainer">
        <%- include('./head'); %>
        <%- include('./userlist'); %>
    </body>
</html> 
</html> 
</html>
</html>
